<section class="collection" id="collection">
  <div class="container container-collection">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li
        class="collection-item"
        data-aos="flip-up"
        data-aos-delay="500"
        data-aos-duration="2000"
        data-aos-easing="ease-in-out"
      >
        <div class="collection-card">
          <picture class="collection-picture">
            <source
              srcset="/img/image-60-1x.jpg 1x, /img/image-60-2x.jpg 2x"
              width="400"
              height="430"
            />
            <img
              class="collection-img"
              src="/img/image-60-1x.jpg"
              alt="Ukrainian embroidery"
            />
          </picture>
        </div>
        <h3 class="collection-subtitle">AUGUST Poltava women's blouseRING</h3>
        <p class="collection-text">3300 UAH</p>
      </li>
      <li
        class="collection-item"
        data-aos="flip-up"
        data-aos-delay="500"
        data-aos-duration="2000"
        data-aos-easing="ease-in-out"
      >
        <div class="collection-card">
          <picture class="collection-picture">
            <source
              srcset="/img/image-61-1x.jpg 1x, /img/image-61-2x.jpg 2x"
              width="400"
              height="430"
            />
            <img
              class="collection-img"
              src="/img/image-61-1x.jpg"
              alt="Ukrainian embroidery"
            />
          </picture>
        </div>
        <h3 class="collection-subtitle">Women's blouse Gorgany</h3>
        <p class="collection-text">3350 UAH</p>
      </li>
      <li
        class="collection-item"
        data-aos="flip-up"
        data-aos-delay="500"
        data-aos-duration="2000"
        data-aos-easing="ease-in-out"
      >
        <div class="collection-card">
          <picture class="collection-picture">
            <source
              srcset="/img/image-62-1x.jpg 1x, /img/image-62-2x.jpg 2x"
              width="400"
              height="430"
            />
            <img
              class="collection-img"
              src="/img/image-62-1x.jpg"
              alt="Ukrainian embroidery"
            />
          </picture>
        </div>
        <h3 class="collection-subtitle">Women's blouse Crimea</h3>
        <p class="collection-text">4000 UAH</p>
      </li>
      <li
        class="collection-item"
        data-aos="flip-up"
        data-aos-delay="500"
        data-aos-duration="2000"
        data-aos-easing="ease-in-out"
      >
        <div class="collection-card">
          <picture class="collection-picture">
            <source
              srcset="/img/image-63-1x.jpg 1x, /img/image-63-2x.jpg 2x"
              width="400"
              height="430"
            />
            <img
              class="collection-img"
              src="/img/image-63-1x.jpg"
              alt="Men's shirt"
            />
          </picture>
        </div>
        <h3 class="collection-subtitle">Men's shirt Verkhovina</h3>
        <p class="collection-text">3100 UAH</p>
      </li>
      <li
        class="collection-item"
        data-aos="flip-up"
        data-aos-delay="500"
        data-aos-duration="2000"
        data-aos-easing="ease-in-out"
      >
        <div class="collection-card">
          <picture class="collection-picture">
            <source
              srcset="/img/image-64-1x.jpg 1x, /img/image-64-2x.jpg 2x"
              width="400"
              height="430"
            />
            <img
              class="collection-img"
              src="/img/image-64-1x.jpg"
              alt="Men's shirt"
            />
          </picture>
        </div>
        <h3 class="collection-subtitle">Mountain men's shirt</h3>
        <p class="collection-text">3300 UAH</p>
      </li>
      <li
        class="collection-item"
        data-aos="flip-up"
        data-aos-delay="500"
        data-aos-duration="2000"
        data-aos-easing="ease-in-out"
      >
        <div class="collection-card">
          <picture class="collection-picture">
            <source
              srcset="/img/image-65-1x.jpg 1x, /img/image-65-2x.jpg 2x"
              width="400"
              height="430"
            />
            <img
              class="collection-img"
              src="/img/image-65-1x.jpg"
              alt="Men's shirt"
            />
          </picture>
        </div>
        <h3 class="collection-subtitle">Men's shirt Yasen</h3>
        <p class="collection-text">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
