<footer class="footer">
  <div class="container container-footer">
    <nav class="footer-nav-container">
      <ul class="footer-nav-list">
        <li class="footer-nav-items">
          <a href="#about-us" class="footer-nav-link">About us</a>
        </li>

        <li class="footer-nav-items">
          <a href="#collection " class="footer-nav-link">Our collection </a>
        </li>

        <li class="footer-nav-items">
          <a href="#order" class="footer-nav-link">Customer order</a>
        </li>

        <li class="footer-nav-items">
          <a href="#testimonials" class="footer-nav-link">Testimonials</a>
        </li>
      </ul>
    </nav>
    <p
      class="footer-slogan animate-on-scroll"
      data-aos="flip-up"
      data-aos-delay="500"
      data-aos-duration="2000"
      data-aos-easing="ease-in-out"
    >
      A touch of
      <span>Ukrainian</span> <br />
      culture in every embroidery
    </p>
  </div>
</footer>
