<section class="hero">
  <div
    class="container container-hero"
    data-aos="fade-right"
    data-aos-delay="300"
    data-aos-duration="2000"
    data-aos-easing="ease-in-out"
  >
    <picture class="hero-img">
      <source srcset="/img/girl-1x.jpg 1x, /img/girl-2x.jpg 2x" />
      <img
        class="hero-card"
        src="/img/girl-1x.jpg"
        alt="Ukrainian embroidery"
        width="392"
      />
    </picture>
    <div
      class="box"
      data-aos="flip-up"
      data-aos-delay="500"
      data-aos-duration="2000"
      data-aos-easing="ease-in-out"
    >
      <div class="hero-content">
        <h1 class="hero-title">
          Reviving the traditional <span>Ukrainian</span> artistry in every
          stitch.
        </h1>
        <a class="hero-link" href="#order"
          >Order
          <svg viewBox="0 0 32 32">
            <path
              d="M7.414 27.414l16.586-16.586v7.172c0 1.105 0.895 2 2 2s2-0.895 2-2v-12c0-0.809-0.487-1.538-1.235-1.848-0.248-0.103-0.508-0.151-0.765-0.151v-0.001h-12c-1.105 0-2 0.895-2 2s0.895 2 2 2h7.172l-16.586 16.586c-0.391 0.39-0.586 0.902-0.586 1.414s0.195 1.024 0.586 1.414c0.781 0.781 2.047 0.781 2.828 0z"
            />
          </svg>
        </a>
      </div>

      <div class="hero-dekoretion">
        <picture class="">
          <source srcset="/img/Star-1x.png 1x, /img/Star-2x.png 2x" />
          <img
            class="hero-sun-icon"
            src="/img/Star-1x.png"
            alt="sun-icon"
            width="52"
          />
        </picture>
        <p class="hero-text">
          all embroidery is <br />
          made by hand
        </p>
      </div>
    </div>
  </div>
</section>
