.collection {
  padding-top: 75px;
  padding-bottom: 150px;
  background-size: 215px 300px;
  background-image: url(/img/element-1x.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 720px) 306px;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ration: 2) {
  .collection {
    background-image: url(/img/element-2x.png);
  }
}

.collection-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 145%;
  letter-spacing: -0.03em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  width: 1240px;
}

.collection-card {
  overflow: hidden;
  border-radius: 4px;
}

.collection-img {
  width: 100%;
  margin-bottom: 18px;
}

.collection-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 8px;
}

.collection-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: rgba(252, 249, 249, 0.4);
}

.collection-subtitle:hover {
  color: #ecd979;
}
