.collection {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 375px;
  background-image: url(/img/element-1x.png);
  background-repeat: no-repeat;
  background-size: 199px 177px;
  background-position: calc(50% - 216px) 338px;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ration: 2) {
  .collection {
    background-image: url(/img/element-2x.png);
  }
}

.collection-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 137%;
  letter-spacing: -0.03em;
  color: white;
  margin-bottom: 40px;
}

.collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.collection-card {
  overflow: hidden;
  border-radius: 4px;
}

.collection-img {
  width: 335px;
  height: 400px;
  width: 100%;
  margin-bottom: 18px;
}

.collection-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 8px;
}

.collection-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: rgba(252, 249, 249, 0.4);
  margin-bottom: 20px;
}

.collection-subtitle:hover {
  color: #ecd979;
}

@media screen and (min-width: 768px) {
  .collection {
    max-width: 768px;
    background-size: 338px 300px;
    background-position: calc(50% - 440px) 271px;
  }

  .collection-img {
    width: 342px;
    height: 100%;
  }

  .collection-list {
    gap: 40px 20px;
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .collection {
    padding-top: 75px;
    padding-bottom: 75px;
    background-size: 215px 300px;
    background-position: calc(50% - 720px) 306px;
  }

  .collection-title {
    font-size: 44px;
    line-height: 145%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 40px;
  }

  .collection-list {
    width: 1240px;
  }

  .collection-img {
    width: 380px;
    height: 430px;
    width: 100%;
    margin-bottom: 18px;
  }
}
