.footer {
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  background-image: url(/img/elementss-1x.png);
  background-repeat: no-repeat;
  background-size: 500px 363px;
  background-position: calc(50% + 465px) calc(50%);
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ration: 2) {
  .footer {
    background-image: url(/img/elementss-2x.png);
  }
}

.footer-nav-list {
  display: flex;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: white;
  gap: 25px;
  margin-bottom: 117px;
}

.footer-nav-items {
  transition: transform 0.2s ease;
}

.footer-nav-items:hover {
  transform: scale(1.05);
  color: #ecd979;
}

.footer-slogan {
  font-size: 64px;
  line-height: 116%;
  letter-spacing: -0.03em;
  color: white;
}
