.header {
  padding-top: 35px;
  padding-bottom: 35px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.nav-logo-icon {
  transition: transform 0.2s ease;
}
.nav-logo-icon:hover {
  transform: scale(1.05);
}

.header-item {
  height: 18px;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
}

.header-item,
.header-address-link,
.header-soc-icon {
  color: white;
}

.nav-logo {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.header-list {
  display: flex;
  gap: 25px;
  margin-right: 289px;
}

.header-item {
  list-style: none;
  transition: transform 0.2s ease;
}

.header-item:hover {
  transform: scale(1.05);
  color: #ecd979;
}

.header-soc-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 12px;
}

.header-soc-link:hover {
  transform: scale(1.05);
  background-color: #ecd979;
}

.header-soc-link {
  background-color: white;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 8px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-address {
  margin-right: 20px;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  font-style: normal;
}

.header-address {
  transition: transform 0.2s ease;
}

.header-address:hover {
  transform: scale(1.05);
}

.header-address-link:hover {
  transform: scale(1.05);
  color: #ecd979;
}
