.hero {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  border-radius: 4px;
  overflow: hidden;
  width: 335px;
  height: auto;
}

.hero-card {
  margin-bottom: 20px;
  transition: transform 0.2s ease;
}

.hero-card:hover,
.hero-card:focus {
  transform: scale(1.05);
}

.hero-title {
  font-size: 44px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: white;
  max-width: 335px;
  margin-bottom: 20px;
}

.hero-link {
  display: block;
  align-items: center;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 36px;
  width: 154px;
  height: 49px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  margin: 0 auto;

  transition: transform 0.2s ease;
}

.header-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: white;
}

.hero-link svg {
  width: 1em;
  height: 1em;
  margin-left: 8px;
  fill: #f5d76e;
}

.hero-link:hover,
.hero-link:focus {
  transform: scale(1.05);
  color: #ecd979;
  border: 2px solid #ecd979;
}

.hero-sun-icon,
.hero-text {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 54px;
    line-height: 119%;
    letter-spacing: -0.03em;
    max-width: 549px;
    text-align: left;
  }

  .hero-sun-icon,
  .hero-text {
    display: block;
  }

  .hero-text {
    font-size: 16px;
    letter-spacing: -0.04em;
    text-align: center;
    color: rgba(252, 249, 249, 0.4);
  }

  .box {
    display: flex;

    align-content: space-between;
    justify-content: flex-start;
  }

  .hero-card {
    margin-bottom: 46px;
  }

  .hero-img {
    width: 392px;
    height: 545px;
  }

  .hero-dekoretion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .hero-sun-icon {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .container-hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-card {
    margin-bottom: 0;
  }

  .hero-img {
    margin-right: 40px;
  }

  .hero-title {
    font-size: 64px;
    line-height: 116%;

    width: 632px;
    margin-right: 61px;
    margin-bottom: 40px;
  }

  .hero-link {
    margin-left: 180px;
    padding: 14px 39px;
    width: 168px;
    height: 50px;
  }
}
