.order {
  padding-top: 150px;
  padding-bottom: 75px;
  background-size: 325px 484px;
  background-image: url(/img/elements-1-1x.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 720px) 306px;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ration: 2) {
  .order {
    background-image: url(/img/elements-1-2x.png);
  }
}

.container-order {
  display: flex;
}

.order-photo-block {
  border-radius: 4px;
  overflow: hidden;
  margin-right: 50px;
}

.order-img {
  width: 100%;
  transition: transform 0.2s ease;
}

.order-img:hover {
  transform: scale(1.05);
}

.order-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 132%;
  letter-spacing: -0.03em;
  color: white;
  width: 666px;
  margin-bottom: 40px;
}

.form-field {
  display: block;
  margin-bottom: 20px;
}

.form-field-com {
  display: block;
  margin-bottom: 40px;
}

.form-info {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 16px;
  width: 508px;
  height: 47px;
  color: #fcf9f9;
  background-color: transparent;
  font-weight: 400;
  letter-spacing: -0.02em;
  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-info:focus,
.form-info:hover {
  border: 1px solid #ecd979;
}

.form-comments {
  border-radius: 8px;
  height: 196px;
  resize: none;
}

.form-info::placeholder,
.form-comments::placeholder {
  color: rgba(252, 249, 249, 0.5);
}

.form-info:not(:placeholder-shown):invalid {
  border-color: #a72424;
}

.form-comments:focus,
.form-comments:hover {
  border: 1px solid #ecd979;
}

.hero-btn {
  display: block;
  align-items: center;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: #1c2225;
  border-radius: 15px;
  padding: 14px 39px;
  width: 168px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  cursor: pointer;
  color: white;

  transition: transform 0.2s ease;
}

.hero-btn svg {
  width: 1em;
  height: 1em;
  margin-left: 8px;
  fill: #f5d76e;
}

.hero-btn:hover,
.hero-btn:focus {
  transform: scale(1.05);
  color: #ecd979;
  border: 1px solid #ecd979;
}
