.revius {
  padding-top: 75px;
  padding-bottom: 150px;
}

.revius-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 145%;
  letter-spacing: -0.03em;
  color: white;
  margin-bottom: 64px;
}

.revius-list {
  display: flex;
  gap: 26px;
}

.revius-item {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 4px;
  padding: 54px 18px 18px 18px;
  text-align: center;
  position: relative;
}

.revius-item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: white;
  margin-bottom: 8px;
}

.revius-foto {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
}

.revius-text {
  text-align: center;
  color: rgba(252, 249, 249, 0.4);
  line-height: 1.37;
}
